@layer theme, base, components, utilities;
@import "tailwindcss";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
  /* Custom Colors */
  --color-orange: #df6951;
  --color-yellow: #f1a501;

  --color-text-dark: #181e4b;
  --color-text: #5e6282;

  /* Custom Font Families */
  --font-sans: "Poppins", sans-serif;
  --font-serif: "Volkhov", serif;

  --breakpoint-sm: 40rem; /* 640px */
  --breakpoint-md: 48rem; /* 768px */
  --breakpoint-lg: 64rem; /* 1024px */
  --breakpoint-xl: 80rem; /* 1280px */
  --breakpoint-2xl: 96rem; /* 1536px */
}

@utility container {
  padding-inline: 1rem;
  margin-inline: auto;
  max-width: 1240px;
  padding-inline: 20px;

  @variant sm {
  }

  @variant lg {
    padding-inline: 2.5rem;
    max-width: calc(var(--breakpoint-lg) + 2.5rem * 2);
  }

  @variant xl {
    max-width: 1240px;
    padding-inline: 2.5rem;
  }
}

:root {
  font-family: var(--font-sans);
  font-size: 16px;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  line-height: 1.36;
  color: var(--color-text-dark);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button {
  background-color: #f9f9f9;
}
